<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy</title>
    <link rel="stylesheet" href="/_css/main.css" />
    <link rel="stylesheet" href="/_css/orphanage.css" />
    <link rel="stylesheet" href="/_css/animations.css" />
    <link rel="icon" href="/_images/logo-icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
  </head>
  <body>
    <div class="page-orphanage">
      <aside>
        <img src="/_images/map-marker.svg" alt="Happy Logo" />

        <footer>
          <button id="back-button" onclick="history.back()">
            <img src="/_images/arrow-back.svg" alt="Button" />
          </button>
        </footer>
      </aside>

      <main class="animate-appear with-sidebar">
        <div class="orphanage-details">
          <img id="main-image" src="/_images/home.jpg" alt="Foto Orfanato" />
          <div class="images">
            <button onclick="SelectImage(event)" class="active" type="button">
              <img src="https://source.unsplash.com/random?id=1" alt="Foto Orfanato" />
            </button>
            <button onclick="SelectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=2" alt="Foto Orfanato" />
            </button>
            <button onclick="SelectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=3" alt="Foto Orfanato" />
            </button>
            <button onclick="SelectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=4" alt="Foto Orfanato" />
            </button>
            <button onclick="SelectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=5" alt="Foto Orfanato" />
            </button>
            <button onclick="SelectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=6" alt="Foto Orfanato" />
            </button>
          </div>

          <div class="orphanage-details-content">
            <h1>Orf. Esperança</h1>
            <p>
              Presta assistência a crianças de 06 a 15 anos que se encontre em
              situação de risco e/ou vulnerabilidade social.
            </p>

            <div class="map-container">
              <div id="mapid"></div>
              <footer><a href="#">Ver rotas no Google Maps</a></footer>
            </div>

            <hr />

            <h2>Instruções para visita</h2>
            <p>
              Venha como se sentir a vontade e traga muito amor e carinho para
              dar
            </p>

            <div class="open-details">
              <div id="hour" class="box">
                <img src="/_images/clock.svg" alt="Relógio" />
                <p>Horário de visita das 8h até as 18h</p>
              </div>
              <div id="weekend" class="box">
                <img
                  src="/_images/info.svg"
                  alt="Informação Importante"
                />
                <p>Atendemos aos finais de semanas</p>
              </div>
            </div>

            <button class="whatsapp">
              <img src="/_images/whatsapp.svg" alt="WhatsApp" /> Entre
              em contato
            </button>
          </div>
        </div>
      </main>
    </div>

    <script src="/_javascript/orphanage.js"></script>
  </body>
</html>
