@charset "UTF-8";

#page-landing{
    min-height: 100vh;
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7) no-repeat;
    text-align: center;
    display: flex;
}

#container{
    margin: auto;
    width: min(90%, 1600px)
}

.location, h1, .visit p{
    height: 16vh;
}

.visit a{
    width: 7rem;
    height: 7rem;
    background-color: #ffd666;

    border: none;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    transition: background 200ms;
}

.visit a:hover{
    background-color: #96f3ff;
}

/*Animation Delay*/
#logo{
    animation-delay: 50ms;
}
.location{
    animation-delay: 100ms;
}
h1{
    animation-delay: 150ms;
}
p{
    animation-delay: 200ms;
}
a{
    animation-delay: 250ms;
}

/* Desktop Version*/
@media(min-width:760px){
    
    #container{
        background-image: url("../_images/bg.svg");
        background-repeat: no-repeat;
        background-position: 80% center;
        background-size: clamp(30rem,54vh,56rem);
        padding: 5rem 4rem;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .location p{
        text-align: right;
        font-size: 2rem;
        line-height: 1.3;
    }

    .location, h1, .visit p{
        height: initial;
        text-align: initial;
    }

    main h1{
        font-size: clamp(5rem, 8vw, 10rem);
        font-weight: bolder;
        line-height: .88;
        width: min(300px, 80vw);
        margin: clamp(5%, 9vh, 8%) 0px 7rem;
    }

    main p{
        font-size: 2rem;
        width: min(300px,20%);
        line-height: 1.3;
    }

    .visit{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .visit a{
        margin: initial;
    }
}